@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --title-color:#B4AD9E;
    --text-color:#626262;
}
.container{
    max-width: 906px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.flex{
    display: flex;
}
/*--------------------------------------------- header-------------------------------------------- */
.header-menu{
    gap: 100px;
    justify-content: center;
    margin-top: 71px;
    a{
          font-family: "Playfair Display", serif;
          font-size: 14px;
            font-weight: 400;
            line-height: 100%;
            color:#7D7D7D;

    }
}
.header-items:nth-child(1){
    a{
        color: #3FAA3F;
       
    }

}
/* -------------------------------section_1 -----------------------------------------------------------*/
.sec1{
    margin-top: 92px;
}
.sec1-wrap{
    gap: 65px;
    .sec1-info{
        h4{
              font-family: "Ubuntu", sans-serif;
                font-size: 14px;
            font-weight: 300;
            line-height: 100%;
            color:var(--title-color);
            margin-top:62px;

        }
        h2{
             font-family: "Playfair Display", serif;
          font-size: 30px;
            font-weight: 400;
            line-height: 120%;
            color:var(--text-color);
              margin-top:32px;
        }
        p{
                font-family: "Playfair Display", serif;
          font-size: 14px;
            font-weight: 400;
            line-height: 120%;
            color:var(--text-color);
              margin-top:10px;
              margin-bottom: 120px;
        }
    }
}
/*--------------------------------------- sec2------------------------------------------------------ */